img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1 {
  font-size: 30px;
  font-size: 3.5vw;

}

h2 {
  font-size: 30px;
  font-size: 2vw;
}

.vertical-center {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.row li {
  width: 50;
  float: left;
  list-style-type: none
}

img {
  border: 0 none;
  display: inline-block;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}